@import "compass";
@import "compass/reset";

* {
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
}

.blinds {
  height: 40px;
  width: 100%;
  position: fixed;
  top: -40px;
  left: 0;
  background: #000;
  -webkit-transition: all .1s linear;
  &.bottom {
    top: auto;
    bottom: -34px;
  }
}

#blindsButton {
  position: absolute;
  top: 0;
  right: 0;
  &.dimmed {
    opacity: .5;
  }
  a {
    display: block;
    margin: 4px;
    padding: 8px 10px;
    background: #000;
    border: 1px solid #333;
    @include border-radius(2px);
  }
}

#controls {
  text-align: center;
  background-color: #1A1A1A;
  border: 1px solid #353535;
  a {
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    color: #fff;
    border-left: 1px solid #353535;
    height: 40px;
    &.active,
    &:hover {
      background-color: #444;
    }
    &:last-child {
      border-right: 1px solid #353535;
    }
  }
  img {
    vertical-align: middle;
  }
}

#player {
  background-color: #222;
}

#blindsButton  { z-index: 900; }
.blinds        { z-index: 800; }
#controls      { z-index: 700; }
#player        { z-index: 600; }
